<ion-view view-title="Home" hide-nav-bar="true">
<ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title">Home</h1>
    <button class="button button-clear icon ion-plus-round" ng-click="goAdd()"></button>
</ion-header-bar>



    <ion-content class="padding">

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>


        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="x in pro">
                <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
            {{x.address_1}} {{x.address_2}} {{x.city}}
                </ion-item>
        </ion-list>







    </ion-content>
</ion-view>
