<ion-view view-title="Inspection Detail" name="inspectionDetail-view" >
    <ion-content class="padding">

        <div class="item item-divider">
            <i class="icon ion-home"></i>
            Status

        </div>
        <ion-toggle ng-model="pushNotification.checked"
                    ng-change="pushNotificationChange()">
            Status: {{areaStatus}}
        </ion-toggle>

        <div class="item item-divider">
            <i class="icon ion-compose "></i>
            Note

        </div>

        <a class="item item-list-detail">

        </a>


        <div class="item item-divider">
            <i class="ion-images"></i>
            Area Images
        </div>

        <a class="item item-list-detail">
            <ion-scroll direction="x">
                <img ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb" style="max-width: 30%">
            </ion-scroll>
        </a>
        <button class="button button-full button-energized" ng-click="getPicture()">Take Picture</button>
        <button class="button button-full button-positive" ng-click="closeModal()">Done</button>
    </ion-content>



</ion-view>
