<ion-view view-title="Inspection Case" name="inspection-view">
    <ion-nav-buttons side="secondary">

    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Area" ng-model="area.name">
            </label>
        </div>
        <button ng-click="addArea()" class="button button-block button-positive">Add Area</button>

    <!--<div class="list">-->
        <!--<div class="item item-divider">-->
            <!--Click area to inspect-->
        <!--</div>-->
        <!--<a class="item" ng-repeat="area in areas" ng-click="goInspectionDetail()">-->
        <!--{{area.area_name}}-->
        <!--</a>-->

    <!--</div>-->


        <ion-list>
            <div ng-repeat="area in areas">
                <ion-item class="item-stable"
                          ng-click="toggleArea(area)"
                          ng-class="{active: isAreaShown(area)}">
                    <i class="icon" ng-class="isAreaShown(area) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    {{area.area_name}}
                </ion-item>
                <ion-item class="item-accordion" ng-show="isAreaShown(area)" >



                    <div class="item item-divider">
                        <i class="icon ion-compose "></i>
                        Inspection Detail

                    </div>

                    <a class="item item-list-detail" ng-click="goInspectionDetail()">
                        Status: {{areaInspectionDetail.status}} <br>
                        Note: {{areaInspectionDetail.note}}
                    </a>

                    <!--Status: {{areaInspectionDetail.status}}-->
                    <!--<br>-->
                    <!--Note: {{areaInspectionDetail.note}}-->
                    <!--<br><br>-->
                    <div class="item item-divider">
                        <i class="ion-images"></i>
                        Area Images
                    </div>
                    <a class="item item-list-detail">
                        <ion-scroll direction="x">
                            <img ng-src="{{lastPhoto}}" ng-click="showImages($index)" class="image-list-thumb" style="max-width: 30%">
                        </ion-scroll>
                    </a>
                </ion-item>



            </div>
        </ion-list>


        <!--<ion-list>-->
            <!--<div ng-repeat="group in groups">-->
                <!--<ion-item class="item-stable"-->
                          <!--ng-click="toggleGroup(group)"-->
                          <!--ng-class="{active: isGroupShown(group)}">-->
                    <!--<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>-->
                    <!--&nbsp;-->
                    <!--Group {{group.name}}-->
                <!--</ion-item>-->
                <!--<ion-item class="item-accordion"-->
                          <!--ng-repeat="item in group.items"-->
                          <!--ng-show="isGroupShown(group)">-->
                    <!--{{item}}-->
                <!--</ion-item>-->
            <!--</div>-->
        <!--</ion-list>-->

    </ion-content>
</ion-view>


<!--<script id="contact-modal.html" type="text/ng-template">-->

    <!--<div class="modal">-->
        <!--<ion-header-bar>-->
            <!--<h1 class="title">Inspect Area</h1>-->
        <!--</ion-header-bar>-->
        <!--<ion-content>-->
            <!--<div class="list">-->
                <!--<item class="item item-icon-left"><i class="icon ion-compose"></i>-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label"></span>-->
                    <!--<textarea ng-model="inspectedArea.note" name="posttext" rows="4"></textarea>-->

                <!--</label>-->
                <!--</item>-->
            <!--</div>-->

            <!--<div class="item item-divider">-->
                <!--<i class="ion-images"></i>-->
                <!--Area Images-->
            <!--</div>-->

            <!--<a class="item item-list-detail">-->
                <!--<ion-scroll direction="x">-->
                    <!--<img ng-src="{{lastPhoto}}" ng-click="showImages($index)" class="image-list-thumb" style="max-width: 30%">-->
                <!--</ion-scroll>-->
            <!--</a>-->
            <!--<button class="button button-full button-energized" ng-click="getPhoto()">Take Picture</button>-->
            <!--<button class="button button-full button-positive" ng-click="closeModal()">Done</button>-->
        <!--</ion-content>-->
    <!--</div>-->

<!--</script>-->