

<ion-view view-title="Inspection Detail" name="inspectionDetail-view" >
    <ion-content class="padding">

        <div class="item item-divider">
            <i class="icon ion-home"></i>
            Status

        </div>
        <ion-toggle ng-model="pushNotification.checked"
                    ng-change="pushNotificationChange()">
            Status: {{areaInspectionDetail.status}}
        </ion-toggle>

        <div class="item item-divider">
            <i class="icon ion-compose "></i>
            Note

        </div>

        <a class="item item-list-detail item-input">
            <input type="text" value="{{areaInspectionDetail.note}}" ng-model="areaInspectionDetail.note" >
        </a>


        <button ng-click="saveDetail()" class="button button-block button-positive">Save</button>

    </ion-content>



</ion-view>
