<ion-view view-title="Property Detail" name="propertydetail-view">
    <ion-content class="padding">

        <div class="card">
            <div class="item item-energized item-button-right">
                <font color="black"><b>{{proDetail.address_1}} {{proDetail.address_2}}</b></font>
                <!--<i class="icon ion-compose "></i>-->
                <div class="button button-clear" ng-click="">
                    <i class="icon ion-compose custom-icon-black"></i>
                </div>
            </div>
            <div class="item-text-wrap">
                <ul>
                    <li>Type: {{proDetail.housetype}}</li>
                    <li>City: {{proDetail.city}}</li>
                    <li>State: {{proDetail.state}}</li>
                    <li>ZIP: {{proDetail.postcode}}</li>
                    <li>Owner: {{proDetail.owner}}</li>
                    <li>Tenant: {{proDetail.tenant}}</li>
                </ul>
            </div>
        </div>

        <div class="list">
            <div class="item item-energized item-button-right">
                <font color="black"><b>Inspection Cases</b></font>

                    <div class="button button-clear" ng-click="addInspection()">
                        <i class="icon ion-plus custom-icon-black"></i>
                    </div>

            </div>
            <a class="item item-button-right" href="#" ng-repeat="x in insList" ng-click="goInspection(x)">
                {{x.date}}

            </a>
        </div>




    </ion-content>
</ion-view>