<ion-view view-title="Property Detail" name="propertydetail-view">
    <ion-content class="padding">

        <div class="card">
            <div class="item item-divider">
                {{proDetail.address_1}} {{proDetail.address_2}}

                <button class="button-clear ion-edit"></button>
            </div>
            <div class="item-text-wrap">
                <ul>
                    <li>Type: {{proDetail.housetype}}</li>
                    <li>City: {{proDetail.city}}</li>
                    <li>State: {{proDetail.state}}</li>
                    <li>ZIP: {{proDetail.postcode}}</li>
                    <li>Owner: {{proDetail.owner}}</li>
                    <li>Tenant: {{proDetail.tenant}}</li>
                </ul>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">
                Inspection Cases

                    <button class="button-clear ion-plus-round" ng-click="addInspection()"></button>

            </div>
            <a class="item" href="#">
                sample inspection
            </a>
        </div>


    </ion-content>
</ion-view>