<ion-view view-title="Property Detail" name="propertydetail-view">
    <ion-content class="padding">

        <div class="card">
            <div class="item item-divider">
                test

                <button class="button-clear ion-edit"></button>
            </div>
            <div class="item-text-wrap">
                <ul>
                    <li>Type: </li>
                    <li>City: </li>
                    <li>State: </li>
                    <li>ZIP: </li>
                    <li>Owner: </li>
                    <li>Tenant: </li>
                </ul>
            </div>
        </div>

        <ion-list>
            <ion-item class="item-button-right">
                test
                <div class="button">
                    <button class="button-clear">
                        <i class="ion-plus-round"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>