

<ion-view view-title="Sign Up" name="signup-view" class="bar-stable" >
    <ion-content class="padding">

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="userSignup.username" >
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="userSignup.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm password" ng-model="userSignup.repw">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="userSignup.useremail">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="First name" ng-model="userSignup.firstname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last name" ng-model="userSignup.lastname">
            </label>
        </div>
        <button ng-click="register()" class="button button-block button-dark" >Register</button>


    </ion-content>
</ion-view>
